.main-paragraph { color: Purple;}

.second-paragraph { color: Pink;}

a[href="https://www.allrecipes.com/recipe/218091/classic-and-simple-meat-lasagna/"] { color: red;}

a[href="https://www.allrecipes.com/recipe/277220/russian-honey-cake/"] { color: Green;}

a:hover { color: pink;}

img { width: 40%; border-style:dotted; border-width: thick; border-color: pink;}

img:hover { border-width: 20px}
